NodeRedDashboard/12vPower.json
[{"id":"11fc20558ebe60f5","type":"tab","label":"12v Power","disabled":false,"info":"","env":[]},{"id":"a662079fbb94f1b6","type":"signalk-subscribe","z":"11fc20558ebe60f5","name":"Start Voltage","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.Starter.voltage","source":"","period":1000,"x":150,"y":300,"wires":[["c6d4506c955fcfb3"]]},{"id":"c6d4506c955fcfb3","type":"ui_gauge","z":"11fc20558ebe60f5","name":"","group":"c29fb7079233416c","order":3,"width":0,"height":0,"gtype":"gage","title":"Start Battery Voltage","label":"Volts","format":"{{msg.payload | number:2}}","min":"10","max":"15","colors":["#b31200","#e6e600","#3acb3c"],"seg1":"","seg2":"","className":"","x":640,"y":300,"wires":[]},{"id":"d18b7f1a51e57606","type":"comment","z":"11fc20558ebe60f5","name":"Retrieving data","info":"","x":160,"y":80,"wires":[]},{"id":"4420664ffc1e5bdf","type":"comment","z":"11fc20558ebe60f5","name":"Calculations","info":"","x":410,"y":80,"wires":[]},{"id":"8f6e7b10bd59fed4","type":"comment","z":"11fc20558ebe60f5","name":"Col 1","info":"","x":630,"y":80,"wires":[]},{"id":"143ed71af2e0caf6","type":"comment","z":"11fc20558ebe60f5","name":"Col 2","info":"","x":830,"y":80,"wires":[]},{"id":"a619cb29dbfed8ec","type":"comment","z":"11fc20558ebe60f5","name":"Col 3","info":"","x":970,"y":80,"wires":[]},{"id":"ba0450d8693d0c5d","type":"comment","z":"11fc20558ebe60f5","name":"Actions","info":"","x":1110,"y":80,"wires":[]},{"id":"c29fb7079233416c","type":"ui_group","name":"Col 1","tab":"6cb69edebb931b60","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"6cb69edebb931b60","type":"ui_tab","name":"12v Power","icon":"dashboard","order":6,"disabled":false,"hidden":false}]