NodeRedDashboard/48vPower.json
[{"id":"5efb1ff8229c08b1","type":"tab","label":"48v Power","disabled":false,"info":"","env":[]},{"id":"c2e34692f6a034c6","type":"comment","z":"5efb1ff8229c08b1","name":"Retrieving data","info":"","x":120,"y":60,"wires":[]},{"id":"955333e6c5f833e6","type":"comment","z":"5efb1ff8229c08b1","name":"Calculations","info":"","x":370,"y":60,"wires":[]},{"id":"5f36b3477285e4ec","type":"comment","z":"5efb1ff8229c08b1","name":"Col 1","info":"","x":590,"y":60,"wires":[]},{"id":"f59f0ed602d34e60","type":"comment","z":"5efb1ff8229c08b1","name":"Col 2","info":"","x":790,"y":60,"wires":[]},{"id":"6300067a044d8c71","type":"comment","z":"5efb1ff8229c08b1","name":"Col 3","info":"","x":930,"y":60,"wires":[]},{"id":"e4ab1d41206b962b","type":"comment","z":"5efb1ff8229c08b1","name":"Actions","info":"","x":1070,"y":60,"wires":[]},{"id":"116b93b2947f2eeb","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Consumed energy","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.consumedCharge","source":"","period":1000,"x":130,"y":240,"wires":[["db46ad0eac161e73"]]},{"id":"db46ad0eac161e73","type":"change","z":"5efb1ff8229c08b1","name":"Divide by 3600","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload / 3600","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["044abd09c60e715f","97788da1d63d12a7"]]},{"id":"044abd09c60e715f","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"d88a61dedf5e9563","order":1,"width":0,"height":0,"gtype":"gage","title":"Consumed Energy (AH)","label":"units","format":"{{msg.payload | number:1}}","min":"-120","max":"0","colors":["#b30000","#e6e600","#07f22f"],"seg1":"-80","seg2":"","className":"","x":630,"y":240,"wires":[]},{"id":"19d0c03d30c4e347","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Current","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.current","source":"","period":1000,"x":90,"y":400,"wires":[["ef379c5caca87fa2"]]},{"id":"97788da1d63d12a7","type":"ui_chart","z":"5efb1ff8229c08b1","name":"","group":"d88a61dedf5e9563","order":2,"width":"0","height":"0","label":"Consumed Energy (15 min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":320,"wires":[[]]},{"id":"ef379c5caca87fa2","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"e2a20eaf86ece2a9","order":2,"width":"0","height":"0","gtype":"gage","title":"Current (Now)","label":"Amps","format":"{{value}}","min":"-100","max":"60","colors":["#b30000","#e6e600","#3acb4a"],"seg1":"","seg2":"","className":"","x":780,"y":400,"wires":[]},{"id":"8d0609dfab6aaa09","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"State of Charge","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.stateOfCharge","source":"","period":1000,"x":120,"y":500,"wires":[["338061102c02e909"]]},{"id":"6e8bbd02b98d3656","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"fac75d42e86c7924","order":1,"width":"0","height":"0","gtype":"gage","title":"Battery SoC %","label":"%","format":"{{msg.payload | number:2}}","min":0,"max":"100","colors":["#b31b00","#e6e600","#3acb3c"],"seg1":"","seg2":"","className":"","x":940,"y":500,"wires":[]},{"id":"338061102c02e909","type":"change","z":"5efb1ff8229c08b1","name":"Multiply by 100","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload *100)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["6e8bbd02b98d3656"]]},{"id":"425fcf78af549715","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"House Voltage","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.voltage","source":"","period":1000,"x":120,"y":600,"wires":[["b0a428a032d6ab10"]]},{"id":"b0a428a032d6ab10","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"e2a20eaf86ece2a9","order":1,"width":0,"height":0,"gtype":"gage","title":"48v Battery Voltage","label":"Volts","format":"{{value}}","min":"40","max":"56","colors":["#b31200","#e6e600","#3acb3c"],"seg1":"","seg2":"","className":"","x":810,"y":600,"wires":[]},{"id":"f851bf8f512a69c4","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Time To Go","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.timeRemaining","source":"","period":1000,"x":110,"y":700,"wires":[["1c82d161570113ad"]]},{"id":"1c82d161570113ad","type":"change","z":"5efb1ff8229c08b1","name":"Convert secs to hours","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload /3600","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["f54f73103d6208bb"]]},{"id":"f54f73103d6208bb","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"fac75d42e86c7924","order":2,"width":0,"height":0,"gtype":"gage","title":"Hrs To Go","label":"Hours","format":"{{msg.payload | number:1}}","min":0,"max":"72","colors":["#b31200","#e6e600","#3acb65"],"seg1":"","seg2":"","className":"","x":940,"y":700,"wires":[]},{"id":"9234c4608dbcf21c","type":"debug","z":"5efb1ff8229c08b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":320,"wires":[]},{"id":"c6711129073fc9ef","type":"ui_spacer","z":"5efb1ff8229c08b1","name":"spacer","group":"dacfabcd136acd70","order":4,"width":"6","height":"1"},{"id":"d88a61dedf5e9563","type":"ui_group","z":"5efb1ff8229c08b1","name":"Col2","tab":"1c60c0a7.6756e7","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"e2a20eaf86ece2a9","type":"ui_group","z":"5efb1ff8229c08b1","name":"Col1","tab":"1c60c0a7.6756e7","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"fac75d42e86c7924","type":"ui_group","z":"5efb1ff8229c08b1","name":"Col3","tab":"1c60c0a7.6756e7","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"1c60c0a7.6756e7","type":"ui_tab","name":"48v Power","icon":"dashboard","order":1,"disabled":false,"hidden":false}]