NodeRedDashboard/48vPower.json
[{"id":"5efb1ff8229c08b1","type":"tab","label":"Power","disabled":false,"info":"","env":[]},{"id":"c2e34692f6a034c6","type":"comment","z":"5efb1ff8229c08b1","name":"Retrieving data","info":"","x":120,"y":60,"wires":[]},{"id":"955333e6c5f833e6","type":"comment","z":"5efb1ff8229c08b1","name":"Calculations","info":"","x":370,"y":60,"wires":[]},{"id":"5f36b3477285e4ec","type":"comment","z":"5efb1ff8229c08b1","name":"Col 1","info":"","x":590,"y":60,"wires":[]},{"id":"f59f0ed602d34e60","type":"comment","z":"5efb1ff8229c08b1","name":"Col 2","info":"","x":790,"y":60,"wires":[]},{"id":"6300067a044d8c71","type":"comment","z":"5efb1ff8229c08b1","name":"Col 3","info":"","x":930,"y":60,"wires":[]},{"id":"e4ab1d41206b962b","type":"comment","z":"5efb1ff8229c08b1","name":"Actions","info":"","x":1070,"y":60,"wires":[]},{"id":"116b93b2947f2eeb","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Consumed energy","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.consumedCharge","source":"","period":1000,"x":130,"y":240,"wires":[["db46ad0eac161e73"]]},{"id":"db46ad0eac161e73","type":"change","z":"5efb1ff8229c08b1","name":"Divide by 3600","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload / 3600","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["044abd09c60e715f","043a0a6329b95bcd","86a38f15a2bcbcef"]]},{"id":"044abd09c60e715f","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"d88a61dedf5e9563","order":2,"width":0,"height":0,"gtype":"gage","title":"Consumed Energy (AH)","label":"AmpHrs","format":"{{msg.payload | number:1}}","min":"-120","max":"0","colors":["#b30000","#e6e600","#07f22f"],"seg1":"-80","seg2":"","className":"","x":870,"y":240,"wires":[]},{"id":"19d0c03d30c4e347","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Current","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.current","source":"","period":1000,"x":90,"y":400,"wires":[["ef379c5caca87fa2","37f5cb1a0b9d0bed"]]},{"id":"97788da1d63d12a7","type":"ui_chart","z":"5efb1ff8229c08b1","name":"","group":"d88a61dedf5e9563","order":3,"width":"0","height":"0","label":"Consumed Energy (24 hr)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":280,"wires":[[]]},{"id":"ef379c5caca87fa2","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"e2a20eaf86ece2a9","order":2,"width":"0","height":"0","gtype":"gage","title":"Current (Now)","label":"Amps","format":"{{value}}","min":"-100","max":"60","colors":["#b30000","#e6e600","#3acb4a"],"seg1":"","seg2":"","className":"","x":780,"y":400,"wires":[]},{"id":"8d0609dfab6aaa09","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"State of Charge","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.stateOfCharge","source":"","period":1000,"x":120,"y":500,"wires":[["338061102c02e909"]]},{"id":"6e8bbd02b98d3656","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"d88a61dedf5e9563","order":1,"width":"0","height":"0","gtype":"gage","title":"48v Battery SoC %","label":"%","format":"{{msg.payload | number:2}}","min":0,"max":"100","colors":["#b31b00","#e6e600","#3acb3c"],"seg1":"","seg2":"","className":"","x":950,"y":480,"wires":[]},{"id":"338061102c02e909","type":"change","z":"5efb1ff8229c08b1","name":"Multiply by 100","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload *100)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["6e8bbd02b98d3656","a300b7ae26d5bc60"]]},{"id":"425fcf78af549715","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"House Voltage","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.voltage","source":"","period":1000,"x":120,"y":600,"wires":[["b0a428a032d6ab10"]]},{"id":"b0a428a032d6ab10","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"e2a20eaf86ece2a9","order":1,"width":0,"height":0,"gtype":"gage","title":"48v Battery Voltage","label":"Volts","format":"{{value}}","min":"40","max":"56","colors":["#b31200","#e6e600","#3acb3c"],"seg1":"","seg2":"","className":"","x":810,"y":600,"wires":[]},{"id":"f851bf8f512a69c4","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Time To Go","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.timeRemaining","source":"","period":1000,"x":110,"y":700,"wires":[["1c82d161570113ad"]]},{"id":"1c82d161570113ad","type":"change","z":"5efb1ff8229c08b1","name":"Convert secs to hours","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload /3600","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["f54f73103d6208bb"]]},{"id":"f54f73103d6208bb","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"fac75d42e86c7924","order":2,"width":0,"height":0,"gtype":"gage","title":"Hrs To Go","label":"Hours","format":"{{msg.payload | number:1}}","min":0,"max":"72","colors":["#b31200","#e6e600","#3acb65"],"seg1":"","seg2":"","className":"","x":940,"y":700,"wires":[]},{"id":"a370466e705fa882","type":"ui_chart","z":"5efb1ff8229c08b1","name":"","group":"83ec45878e4cfb23","order":1,"width":0,"height":0,"label":"State of Charge % (24hr)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":540,"wires":[[]]},{"id":"5082cef52bc9ed58","type":"ui_chart","z":"5efb1ff8229c08b1","name":"","group":"83ec45878e4cfb23","order":2,"width":0,"height":0,"label":"Current Flow Amps (24 hr)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":440,"wires":[[]]},{"id":"4f74006ba363cdf0","type":"ui_chart","z":"5efb1ff8229c08b1","name":"","group":"065d233fda7fb924","order":3,"width":0,"height":0,"label":"Consumed Energy (24 hr)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":320,"wires":[[]]},{"id":"043a0a6329b95bcd","type":"delay","z":"5efb1ff8229c08b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":600,"y":320,"wires":[["4f74006ba363cdf0"]]},{"id":"86a38f15a2bcbcef","type":"delay","z":"5efb1ff8229c08b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":600,"y":280,"wires":[["97788da1d63d12a7"]]},{"id":"a300b7ae26d5bc60","type":"delay","z":"5efb1ff8229c08b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":620,"y":540,"wires":[["a370466e705fa882"]]},{"id":"37f5cb1a0b9d0bed","type":"delay","z":"5efb1ff8229c08b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":500,"y":440,"wires":[["5082cef52bc9ed58"]]},{"id":"a871e44a9ae23853","type":"signalk-subscribe","z":"5efb1ff8229c08b1","name":"Start Voltage","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.Starter.voltage","source":"","period":1000,"x":110,"y":160,"wires":[["8df65f39fe4728b7"]]},{"id":"8df65f39fe4728b7","type":"ui_gauge","z":"5efb1ff8229c08b1","name":"","group":"fac75d42e86c7924","order":1,"width":0,"height":0,"gtype":"gage","title":"Start Battery Voltage","label":"Volts","format":"{{msg.payload | number:2}}","min":"10","max":"15","colors":["#b31200","#e6e600","#3acb3c"],"seg1":"","seg2":"","className":"","x":600,"y":160,"wires":[]},{"id":"bb9dbcd97cb666cb","type":"ui_switch","z":"5efb1ff8229c08b1","d":true,"name":"Diesel / Electric","label":"","tooltip":"","group":"83ec45878e4cfb23","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":300,"y":880,"wires":[["a9e5592ef36b26aa","0fe2fca026e08561"]]},{"id":"0e6fde3f663b6a81","type":"ui_text","z":"5efb1ff8229c08b1","d":true,"group":"83ec45878e4cfb23","order":3,"width":"2","height":"1","name":"","label":"Electric","format":"<font color= {{msg.color}} > {{msg.payload}}  </font>","layout":"row-spread","className":"","x":680,"y":900,"wires":[]},{"id":"45114457395251d3","type":"ui_text","z":"5efb1ff8229c08b1","d":true,"group":"83ec45878e4cfb23","order":5,"width":"2","height":"1","name":"","label":"Diesel","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","className":"","x":670,"y":820,"wires":[]},{"id":"a9e5592ef36b26aa","type":"function","z":"5efb1ff8229c08b1","name":"Color Mapping","func":"var newMsg = {};\nswitch (msg.payload) {\n\ncase true : \n    newMsg.payload = \"Electric\";\n    newMsg.color = \"lime\";\n    break;\n    \ncase false : \n    newMsg.payload = \"Diesel\";\n    newMsg.color = \"red\";\n    break;\n    \n}\n\nreturn newMsg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":880,"wires":[["45114457395251d3","0e6fde3f663b6a81","6f0832e10977e5e9"],[]]},{"id":"6f0832e10977e5e9","type":"debug","z":"5efb1ff8229c08b1","name":"Mapped","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":1000,"wires":[]},{"id":"0fe2fca026e08561","type":"debug","z":"5efb1ff8229c08b1","name":"Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1000,"wires":[]},{"id":"c6711129073fc9ef","type":"ui_spacer","z":"5efb1ff8229c08b1","name":"spacer","group":"dacfabcd136acd70","order":4,"width":"6","height":"1"},{"id":"d88a61dedf5e9563","type":"ui_group","z":"5efb1ff8229c08b1","name":"Col2","tab":"1c60c0a7.6756e7","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"e2a20eaf86ece2a9","type":"ui_group","z":"5efb1ff8229c08b1","name":"Col1","tab":"1c60c0a7.6756e7","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"fac75d42e86c7924","type":"ui_group","z":"5efb1ff8229c08b1","name":"Col3","tab":"1c60c0a7.6756e7","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"83ec45878e4cfb23","type":"ui_group","name":"Col 1","tab":"51a783fe36decf27","order":1,"disp":false,"width":"7","collapse":false,"className":""},{"id":"065d233fda7fb924","type":"ui_group","name":"Col 2","tab":"51a783fe36decf27","order":2,"disp":false,"width":"7","collapse":false,"className":""},{"id":"1c60c0a7.6756e7","type":"ui_tab","name":"Power","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"51a783fe36decf27","type":"ui_tab","name":"Electric Travel","icon":"dashboard","order":7,"disabled":false,"hidden":false}]