NodeRedDashboard/AISData.json
[{"id":"9dc8995625b82b2c","type":"tab","label":"AIS Data","disabled":false,"info":"","env":[]},{"id":"98419ac49319f596","type":"comment","z":"9dc8995625b82b2c","name":"Retrieving data","info":"","x":120,"y":60,"wires":[]},{"id":"fa5836205d53a4bc","type":"comment","z":"9dc8995625b82b2c","name":"Calculations","info":"","x":370,"y":60,"wires":[]},{"id":"a774a1e8aab17c1a","type":"comment","z":"9dc8995625b82b2c","name":"Col 1","info":"","x":590,"y":60,"wires":[]},{"id":"b94e2ab4c80e793f","type":"comment","z":"9dc8995625b82b2c","name":"Col 2","info":"","x":790,"y":60,"wires":[]},{"id":"335ab8eb04423539","type":"comment","z":"9dc8995625b82b2c","name":"Col 3","info":"","x":930,"y":60,"wires":[]},{"id":"2bd557a793427a14","type":"comment","z":"9dc8995625b82b2c","name":"Actions","info":"","x":1070,"y":60,"wires":[]},{"id":"96899bf2b961240f","type":"template","z":"9dc8995625b82b2c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script type=\"text/javascript\">\n    // Map appearance\n    var width=\"100%\";         // width in pixels or percentage\n    var height=\"600\";         // height in pixels\n    var latitude=\"49.02\";     // center latitude (decimal degrees)\n    var longitude=\"12.083\";    // center longitude (decimal degrees)\n    var zoom=\"14\";             // initial zoom (between 3 and 18)\n</script>\n<script type=\"text/javascript\" src=\"https://www.vesselfinder.com/aismap.js\"></script>","output":"str","x":480,"y":200,"wires":[["5db8899be44d06aa"]]},{"id":"5db8899be44d06aa","type":"http response","z":"9dc8995625b82b2c","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"864b06da254c0766","type":"http in","z":"9dc8995625b82b2c","name":"boats-near-us","url":"/boats-near-us","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["96899bf2b961240f"]]},{"id":"191328cb9d4ee7a2","type":"signalk-subscribe","z":"9dc8995625b82b2c","name":"Position - Latitude","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":130,"y":340,"wires":[["dc3e2dab838c8cee"]]},{"id":"ae46e4ed2ca9d4ae","type":"signalk-subscribe","z":"9dc8995625b82b2c","name":"Position - Longitude","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":130,"y":400,"wires":[["8b578bde195edf39"]]},{"id":"8b578bde195edf39","type":"change","z":"9dc8995625b82b2c","name":"Longitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[[]]},{"id":"dc3e2dab838c8cee","type":"function","z":"9dc8995625b82b2c","name":"","func":"if(msg.payload.latitude){\n    msg.payload=msg.payload[\"latitude\"];\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["96899bf2b961240f"]]}]