NodeRedDashboard/NavigationData.json
[{"id":"cfc2c367c8e15fc8","type":"tab","label":"Navigation Data","disabled":false,"info":"","env":[]},{"id":"2136454409cbee9b","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Depth (m)","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":1000,"x":140,"y":260,"wires":[["ff46fa5ca405f0b6","7c772107c63215c5"]]},{"id":"c4d91010b4e8d0f0","type":"comment","z":"cfc2c367c8e15fc8","name":"Retrieving data","info":"","x":160,"y":100,"wires":[]},{"id":"0dd7ca977d82e417","type":"comment","z":"cfc2c367c8e15fc8","name":"Calculations","info":"","x":410,"y":100,"wires":[]},{"id":"7cd806e3381949eb","type":"comment","z":"cfc2c367c8e15fc8","name":"Col 1","info":"","x":630,"y":100,"wires":[]},{"id":"81e44f1f0e30d90e","type":"comment","z":"cfc2c367c8e15fc8","name":"Col 2","info":"","x":850,"y":100,"wires":[]},{"id":"565ae6c99aa8868d","type":"comment","z":"cfc2c367c8e15fc8","name":"Col 3","info":"","x":1110,"y":100,"wires":[]},{"id":"bc58f4e4904516e5","type":"comment","z":"cfc2c367c8e15fc8","name":"Actions","info":"","x":1270,"y":100,"wires":[]},{"id":"ff46fa5ca405f0b6","type":"ui_gauge","z":"cfc2c367c8e15fc8","name":"","group":"675bd3d89197b278","order":0,"width":"6","height":"6","gtype":"gage","title":"Depth Gauge","label":"m","format":"{{msg.payload | number:1}}","min":0,"max":10,"colors":["#b30000","#e6e600","#04f64c"],"seg1":"2","seg2":"3","className":"","x":630,"y":220,"wires":[]},{"id":"7c772107c63215c5","type":"ui_chart","z":"cfc2c367c8e15fc8","name":"","group":"675bd3d89197b278","order":1,"width":0,"height":0,"label":"Depth Chart (60 min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":660,"y":280,"wires":[[]]},{"id":"dae662648979803e","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Boat Speed (m/s)","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.speedThroughWater","source":"","period":1000,"x":160,"y":360,"wires":[["45a0e5364bdbf9c1"]]},{"id":"45a0e5364bdbf9c1","type":"change","z":"cfc2c367c8e15fc8","name":"Convert to kmh (BS)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 3.6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[["2872c1298541dcbf"]]},{"id":"2872c1298541dcbf","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":4,"width":0,"height":0,"name":"","label":"Boat Speed (kmh)","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":890,"y":360,"wires":[]},{"id":"4d648ca1266a74db","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Latitude","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":130,"y":740,"wires":[["75b89dee0a4ffed4"]]},{"id":"3b0d27ad6f369a65","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Speed over Ground (m/s)","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.speedOverGround","source":"","period":1000,"x":190,"y":520,"wires":[["46288b8286f63854"]]},{"id":"46288b8286f63854","type":"change","z":"cfc2c367c8e15fc8","name":"Convert to kmh (SoG)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 3.6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":520,"wires":[["5ab36535f6647046"]]},{"id":"5ab36535f6647046","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":5,"width":0,"height":0,"name":"","label":"Speed over Ground (kmh)","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":910,"y":520,"wires":[]},{"id":"75b89dee0a4ffed4","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":1,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.latitude}}","layout":"row-spread","className":"","x":840,"y":740,"wires":[]},{"id":"bf0283d201018418","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Longitude","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":140,"y":820,"wires":[["e5d7ce42190e4d0f"]]},{"id":"e5d7ce42190e4d0f","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":2,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.longitude}}","layout":"row-spread","className":"","x":840,"y":820,"wires":[]},{"id":"2d22a7fdbd92e7ac","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"GPS Date / Time","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.datetime","source":"","period":1000,"x":160,"y":900,"wires":[["7b0f71a9f27614c1"]]},{"id":"7b0f71a9f27614c1","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":3,"width":"0","height":"0","name":"","label":"GPS Date / Time","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":900,"wires":[]},{"id":"e43232c8f9f32b72","type":"http response","z":"cfc2c367c8e15fc8","name":"","statusCode":"","headers":{},"x":750,"y":1040,"wires":[]},{"id":"5cfd3fab47d2aa4f","type":"http in","z":"cfc2c367c8e15fc8","name":"/get boats-near-us","url":"/boats-near-us","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1040,"wires":[["93b6f0785c4df512"]]},{"id":"e8417e0f22acd7d2","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Position","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":130,"y":600,"wires":[["48e7498cfd58c824","b984022cabe36c88"]]},{"id":"93b6f0785c4df512","type":"template","z":"cfc2c367c8e15fc8","name":"JavaScriptToAdd","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script type=\"text/javascript\">\n    // Map appearance\n    var width=\"100%\";         // width in pixels or percentage\n    var height=\"600\";         // height in pixels\n    var latitude={{global.latitude}};\n    var longitude={{global.longitude}};\n    var zoom=\"13\";             // initial zoom (between 3 and 18)\n</script>\n<script type=\"text/javascript\" src=\"https://www.vesselfinder.com/aismap.js\"></script>\n","output":"str","x":470,"y":1040,"wires":[["e43232c8f9f32b72"]]},{"id":"47e780e834135909","type":"ui_button","z":"cfc2c367c8e15fc8","name":"","group":"86d355ba6c14f201","order":6,"width":0,"height":0,"passthru":false,"label":"<a target=\"_blank\" href=\"http://192.16.0.102:3000/plugins/signalk-node-red/redApi/boats-near-us\">Vessel Finder</a>","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":480,"y":1100,"wires":[[]]},{"id":"48e7498cfd58c824","type":"change","z":"cfc2c367c8e15fc8","name":"Set Global Latitude","rules":[{"t":"set","p":"latitude","pt":"global","to":"payload.latitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":600,"wires":[[]]},{"id":"b984022cabe36c88","type":"change","z":"cfc2c367c8e15fc8","name":"Set Global Longitude","rules":[{"t":"set","p":"longitude","pt":"global","to":"payload.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":640,"wires":[[]]},{"id":"139b20828b0581b0","type":"comment","z":"cfc2c367c8e15fc8","name":"NMEA Data","info":"from ST40","x":150,"y":180,"wires":[]},{"id":"7572b4486574b8ff","type":"comment","z":"cfc2c367c8e15fc8","name":"GPS Data","info":"Android phone running GPSd plugged in to the USB port of the Pi using USB tether and sending to port 4123 in signalk","x":140,"y":460,"wires":[]},{"id":"4736edb798fb71c8","type":"comment","z":"cfc2c367c8e15fc8","name":"Vessel Finder","info":"Use global variables global.latitude and global.longitude to modify the javascript and then launch www.vesselfinder.com with those parameters to see the boats near us","x":150,"y":980,"wires":[]},{"id":"675bd3d89197b278","type":"ui_group","name":"Col 1","tab":"95fa0ae2a6e2e41d","order":1,"disp":false,"width":"8","collapse":false,"className":""},{"id":"86d355ba6c14f201","type":"ui_group","name":"Col 2","tab":"95fa0ae2a6e2e41d","order":2,"disp":false,"width":"8","collapse":false,"className":""},{"id":"95fa0ae2a6e2e41d","type":"ui_tab","name":"Navigation Data","icon":"dashboard","order":2,"disabled":false,"hidden":false}]