NodeRedDashboard/NavigationData.json
[{"id":"cfc2c367c8e15fc8","type":"tab","label":"Navigation Data","disabled":false,"info":"","env":[]},{"id":"2136454409cbee9b","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Depth (m)","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":1000,"x":140,"y":260,"wires":[["ff46fa5ca405f0b6","7c772107c63215c5"]]},{"id":"c4d91010b4e8d0f0","type":"comment","z":"cfc2c367c8e15fc8","name":"Retrieving data","info":"","x":160,"y":100,"wires":[]},{"id":"0dd7ca977d82e417","type":"comment","z":"cfc2c367c8e15fc8","name":"Calculations","info":"","x":410,"y":100,"wires":[]},{"id":"7cd806e3381949eb","type":"comment","z":"cfc2c367c8e15fc8","name":"Col 1","info":"","x":630,"y":100,"wires":[]},{"id":"81e44f1f0e30d90e","type":"comment","z":"cfc2c367c8e15fc8","name":"Col 2","info":"","x":830,"y":100,"wires":[]},{"id":"565ae6c99aa8868d","type":"comment","z":"cfc2c367c8e15fc8","name":"Col 3","info":"","x":970,"y":100,"wires":[]},{"id":"bc58f4e4904516e5","type":"comment","z":"cfc2c367c8e15fc8","name":"Actions","info":"","x":1110,"y":100,"wires":[]},{"id":"ff46fa5ca405f0b6","type":"ui_gauge","z":"cfc2c367c8e15fc8","name":"","group":"675bd3d89197b278","order":0,"width":"6","height":"6","gtype":"gage","title":"Depth Gauge","label":"m","format":"{{msg.payload | number:1}}","min":0,"max":10,"colors":["#b30000","#e6e600","#04f64c"],"seg1":"2","seg2":"3","className":"","x":690,"y":260,"wires":[]},{"id":"7c772107c63215c5","type":"ui_chart","z":"cfc2c367c8e15fc8","name":"","group":"675bd3d89197b278","order":1,"width":0,"height":0,"label":"Depth Chart (5 min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":660,"y":320,"wires":[[]]},{"id":"dae662648979803e","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Boat Speed (m/s)","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.speedThroughWater","source":"","period":1000,"x":160,"y":420,"wires":[["45a0e5364bdbf9c1"]]},{"id":"45a0e5364bdbf9c1","type":"change","z":"cfc2c367c8e15fc8","name":"Convert to kmh (BS)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 3.6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["2872c1298541dcbf"]]},{"id":"2872c1298541dcbf","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":0,"width":0,"height":0,"name":"","label":"Boat Speed (kmh)","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":870,"y":420,"wires":[]},{"id":"4d648ca1266a74db","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Latitude","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":130,"y":740,"wires":[["75b89dee0a4ffed4"]]},{"id":"3b0d27ad6f369a65","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Speed over Ground (m/s)","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.speedOverGround","source":"","period":1000,"x":190,"y":660,"wires":[["46288b8286f63854"]]},{"id":"46288b8286f63854","type":"change","z":"cfc2c367c8e15fc8","name":"Convert to kmh (SoG)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 3.6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":660,"wires":[["5ab36535f6647046"]]},{"id":"5ab36535f6647046","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":0,"width":0,"height":0,"name":"","label":"Speed over Ground (kmh)","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":890,"y":660,"wires":[]},{"id":"75b89dee0a4ffed4","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":2,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.latitude}}","layout":"row-spread","className":"","x":840,"y":740,"wires":[]},{"id":"bf0283d201018418","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"Longitude","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":140,"y":800,"wires":[["e5d7ce42190e4d0f"]]},{"id":"e5d7ce42190e4d0f","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":2,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.longitude}}","layout":"row-spread","className":"","x":840,"y":800,"wires":[]},{"id":"c7915b4d25e3d137","type":"ui_button","z":"cfc2c367c8e15fc8","name":"","group":"675bd3d89197b278","order":2,"width":0,"height":0,"passthru":false,"label":"<a target=\"_blank\" href=\"http://192.16.0.102:3000/plugins/signalk-node-red/redApi/boats-near-us\">Vessel Finder</a>","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":600,"y":180,"wires":[[]]},{"id":"2d22a7fdbd92e7ac","type":"signalk-subscribe","z":"cfc2c367c8e15fc8","name":"GPS Date / Time","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.datetime","source":"","period":1000,"x":160,"y":860,"wires":[["7b0f71a9f27614c1"]]},{"id":"7b0f71a9f27614c1","type":"ui_text","z":"cfc2c367c8e15fc8","group":"86d355ba6c14f201","order":5,"width":0,"height":0,"name":"","label":"GPS Date / Time","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":860,"wires":[]},{"id":"675bd3d89197b278","type":"ui_group","name":"Col 1","tab":"95fa0ae2a6e2e41d","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"86d355ba6c14f201","type":"ui_group","name":"Col 2","tab":"95fa0ae2a6e2e41d","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"95fa0ae2a6e2e41d","type":"ui_tab","name":"Navigation Data","icon":"dashboard","order":1,"disabled":false,"hidden":false}]