NodeRedDashboard/RPiControl.json
[{"id":"fc779838.82f878","type":"tab","label":"Rpi Control","disabled":false,"info":""},{"id":"142469e7.55bed6","type":"ui_gauge","z":"fc779838.82f878","name":"","group":"15a23dd2.a604aa","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"CPU","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":220,"wires":[]},{"id":"7808ce9c.fdea78","type":"exec","z":"fc779838.82f878","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":290,"y":280,"wires":[["256d648e.c08ffc"],[],[]]},{"id":"c403f41.4424908","type":"inject","z":"fc779838.82f878","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["7808ce9c.fdea78","a7e79afb.a52018","dc43fce4.4e4ed8","2267b17.18086ce"]]},{"id":"256d648e.c08ffc","type":"function","z":"fc779838.82f878","name":"Temp to number","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["142469e7.55bed6","685e783a.1ae888","fa858ae9.36b41"]]},{"id":"dbc5cb97.98c8e","type":"ui_button","z":"fc779838.82f878","name":"","group":"10302fc.fa9f6d","order":3,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":840,"y":480,"wires":[["f449aab7.fc5c28"]]},{"id":"f449aab7.fc5c28","type":"exec","z":"fc779838.82f878","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":1160,"y":480,"wires":[[],[],[]]},{"id":"da227d88.1ec71","type":"ui_button","z":"fc779838.82f878","name":"","group":"15a23dd2.a604aa","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":650,"y":540,"wires":[["39cda90e.b3f3ae"]]},{"id":"39cda90e.b3f3ae","type":"exec","z":"fc779838.82f878","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":1170,"y":540,"wires":[[],[],[]]},{"id":"685e783a.1ae888","type":"ui_chart","z":"fc779838.82f878","name":"","group":"10302fc.fa9f6d","order":2,"width":0,"height":0,"label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":260,"wires":[[]]},{"id":"a7e79afb.a52018","type":"exec","z":"fc779838.82f878","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU Load","x":290,"y":100,"wires":[["fbe9ff32.40f148"],[],[]]},{"id":"dc43fce4.4e4ed8","type":"exec","z":"fc779838.82f878","command":"free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Free Memory","x":290,"y":160,"wires":[["943ce311.1084d8"],[],[]]},{"id":"fbe9ff32.40f148","type":"ui_gauge","z":"fc779838.82f878","name":"","group":"15a23dd2.a604aa","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":100,"wires":[]},{"id":"943ce311.1084d8","type":"ui_gauge","z":"fc779838.82f878","name":"","group":"10302fc.fa9f6d","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":" {{value | number:1}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":140,"wires":[]},{"id":"2267b17.18086ce","type":"exec","z":"fc779838.82f878","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":290,"y":220,"wires":[["343bbde4.799132"],[],[]]},{"id":"f61fb33e.3386c8","type":"ui_gauge","z":"fc779838.82f878","name":"","group":"fb86037f.14866","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":180,"wires":[]},{"id":"343bbde4.799132","type":"function","z":"fc779838.82f878","name":"Disk usage calc","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["f61fb33e.3386c8"]]},{"id":"fa858ae9.36b41","type":"function","z":"fc779838.82f878","name":"PWM Fan Control","func":"// If forceFan is true, no calculation, cause \n// OVERRIDE is pushed => 100% Fan\n\nvar forceFan = flow.get('forceFan')||false;\nflow.set('forceFan',forceFan);\n\nif(forceFan) {\n    return msg[null];\n}\nelse {\n    \n    switch(true) {\n  \n        case msg.payload <= 40 :\n        msg.payload = 0; \n        break;\n        \n        case msg.payload <= 45 :\n        msg.payload = 20; \n        break;\n    \n        case msg.payload <= 55 :\n        msg.payload = 30; \n        break;\n    \n        case msg.payload <= 65 :\n        msg.payload = 50; \n        break;\n        \n        case msg.payload <= 75 :\n        msg.payload = 70; \n        break;\n        \n        default:\n        msg.payload = 100;   \n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":320,"wires":[["c4d4f91e.df27","8a1f3504.5c4868","bfb83cd8.b39a58"]]},{"id":"c4d4f91e.df27","type":"rpi-gpio out","z":"fc779838.82f878","name":"Fan Control","pin":"21","set":false,"level":"1","freq":"30","out":"pwm","bcm":true,"x":1170,"y":420,"wires":[]},{"id":"de9edf1b.9fec6","type":"ui_switch","z":"fc779838.82f878","name":"Fan override","label":"OVERRIDE","tooltip":"","group":"fb86037f.14866","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1010,"y":360,"wires":[["285b064c.6ad102"]]},{"id":"8a1f3504.5c4868","type":"ui_gauge","z":"fc779838.82f878","name":"","group":"fb86037f.14866","order":2,"width":0,"height":0,"gtype":"gage","title":"Fan","label":"Output","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":300,"wires":[]},{"id":"43c7aae5.a77a34","type":"comment","z":"fc779838.82f878","name":"Sources","info":"Picked from;\n\nRetreiving RPi data\nhttps://gist.github.com/gestadieu/25af5334a79d6c02d6413968a8bff572\n\nPWM fan\nhttp://forum.openmarine.net/showthread.php?tid=1093\n\nClock\nhttps://flows.nodered.org/flow/7e4bb517ce3a75add0083642ef03e9d8\n","x":80,"y":540,"wires":[]},{"id":"c646f5db.03f408","type":"comment","z":"fc779838.82f878","name":"Col 1","info":"","x":630,"y":40,"wires":[]},{"id":"f401f019.59477","type":"comment","z":"fc779838.82f878","name":"Col 2","info":"","x":830,"y":40,"wires":[]},{"id":"1a31311a.5da6c7","type":"comment","z":"fc779838.82f878","name":"Col 3","info":"","x":990,"y":40,"wires":[]},{"id":"1d2e4cd4.e4a5e3","type":"comment","z":"fc779838.82f878","name":"Actions","info":"","x":1150,"y":40,"wires":[]},{"id":"8c522131.ed87d8","type":"comment","z":"fc779838.82f878","name":"Calculations","info":"","x":470,"y":40,"wires":[]},{"id":"d79f28a1.ba67","type":"comment","z":"fc779838.82f878","name":"Retrieving data","info":"","x":300,"y":40,"wires":[]},{"id":"1485d96e.367717","type":"ui_template","z":"fc779838.82f878","group":"adf6585f.f213f","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":300,"y":540,"wires":[[]]},{"id":"bfb83cd8.b39a58","type":"debug","z":"fc779838.82f878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":420,"wires":[]},{"id":"285b064c.6ad102","type":"function","z":"fc779838.82f878","name":"Set forceFan","func":"// The Override button \"on\" sets forceFan to true\n// => Fan will run 100% \n\nif(msg.payload == 100) {\n    flow.set('forceFan',true);\n}\nelse {\n    flow.set('forceFan',false);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["8a1f3504.5c4868","c4d4f91e.df27"]]},{"id":"15a23dd2.a604aa","type":"ui_group","z":"fc779838.82f878","name":"Col1","tab":"4173757b.d2e7d4","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"10302fc.fa9f6d","type":"ui_group","z":"fc779838.82f878","name":"Col2","tab":"4173757b.d2e7d4","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"fb86037f.14866","type":"ui_group","z":"fc779838.82f878","name":"Col3","tab":"4173757b.d2e7d4","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"adf6585f.f213f","type":"ui_group","name":"hidden_group","tab":"69ecbb6c.cef254","order":1,"disp":false,"width":"6","collapse":false},{"id":"4173757b.d2e7d4","type":"ui_tab","name":"RPi Control","icon":"dashboard","order":3},{"id":"69ecbb6c.cef254","type":"ui_tab","name":"Clock","icon":"home","order":4,"disabled":false,"hidden":false}]