AISData.json
[{"id":"9dc8995625b82b2c","type":"tab","label":"AIS Data","disabled":false,"info":"","env":[]},{"id":"98419ac49319f596","type":"comment","z":"9dc8995625b82b2c","name":"Retrieving data","info":"","x":120,"y":60,"wires":[]},{"id":"fa5836205d53a4bc","type":"comment","z":"9dc8995625b82b2c","name":"Calculations","info":"","x":370,"y":60,"wires":[]},{"id":"a774a1e8aab17c1a","type":"comment","z":"9dc8995625b82b2c","name":"Col 1","info":"","x":590,"y":60,"wires":[]},{"id":"b94e2ab4c80e793f","type":"comment","z":"9dc8995625b82b2c","name":"Col 2","info":"","x":790,"y":60,"wires":[]},{"id":"335ab8eb04423539","type":"comment","z":"9dc8995625b82b2c","name":"Col 3","info":"","x":930,"y":60,"wires":[]},{"id":"2bd557a793427a14","type":"comment","z":"9dc8995625b82b2c","name":"Actions","info":"","x":1070,"y":60,"wires":[]},{"id":"96899bf2b961240f","type":"template","z":"9dc8995625b82b2c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script type=\"text/javascript\">\n    // Map appearance\n    var width=\"100%\";         // width in pixels or percentage\n    var height=\"600\";         // height in pixels\n    var latitude=49.023875;\n    var longitude=12.083958333333333;\n    var zoom=\"14\";             // initial zoom (between 3 and 18)\n</script>\n<script type=\"text/javascript\" src=\"https://www.vesselfinder.com/aismap.js\"></script>","output":"str","x":520,"y":200,"wires":[["5db8899be44d06aa"]]},{"id":"5db8899be44d06aa","type":"http response","z":"9dc8995625b82b2c","name":"","statusCode":"","headers":{},"x":830,"y":200,"wires":[]},{"id":"864b06da254c0766","type":"http in","z":"9dc8995625b82b2c","name":"boats-near-us","url":"/boats-near-us","method":"get","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["96899bf2b961240f"]]},{"id":"01d68c9c0931f254","type":"signalk-subscribe","z":"9dc8995625b82b2c","name":"Position","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":110,"y":280,"wires":[["0859ef961e15eddb"]]},{"id":"0859ef961e15eddb","type":"template","z":"9dc8995625b82b2c","name":"JavaScript","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var latitude={{{payload.latitude}}};\n    var longitude={{{payload.longitude}}};","output":"str","x":310,"y":280,"wires":[["96899bf2b961240f"]]}]