SummaryDashboard.json
[{"id":"e191cd24c5371b1b","type":"tab","label":"Summary Flow","disabled":false,"info":"","env":[]},{"id":"0f47ade1e212cb8f","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"Start Battery Voltage","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.Starter.voltage","source":"","period":1000,"x":190,"y":140,"wires":[["0ed678109bd6f38c"]]},{"id":"0ed678109bd6f38c","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":1,"width":0,"height":0,"name":"SummaryStartBattVolts","label":"Start Battery Volts","format":"{{msg.payload}}","layout":"row-spread","className":"","x":730,"y":140,"wires":[]},{"id":"a56bba5f08a06a38","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"Depth","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":1000,"x":150,"y":800,"wires":[["36b32f32117d7393"]]},{"id":"36b32f32117d7393","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":9,"width":0,"height":0,"name":"","label":"Depth","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":800,"wires":[]},{"id":"8f9347c0c66fa7e7","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"StateOfCharge","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.capacity.stateOfCharge","source":"","period":1000,"x":180,"y":260,"wires":[["013cb2fd00984214"]]},{"id":"d74a5f8195992658","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":3,"width":0,"height":0,"name":"","label":"State Of Charge %","format":"{{msg.payload | number:1}}","layout":"row-spread","className":"","x":710,"y":260,"wires":[]},{"id":"013cb2fd00984214","type":"change","z":"e191cd24c5371b1b","name":"Multiply By 100","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload *100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["d74a5f8195992658"]]},{"id":"c0d44d41505ceb15","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"House Voltage","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"electrical.batteries.House.voltage","source":"","period":1000,"x":180,"y":200,"wires":[["a28cda42e28eb016"]]},{"id":"a28cda42e28eb016","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":2,"width":0,"height":0,"name":"House Voltage","label":"48v Volts","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":700,"y":200,"wires":[]},{"id":"13e0e47096accbef","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"Boat Speed (m/s)","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.speedThroughWater","source":"","period":1000,"x":180,"y":400,"wires":[["6fbd6eeaab579b1c"]]},{"id":"dec38907a80ea483","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":4,"width":0,"height":0,"name":"","label":"Boat Speed (kmh)","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":790,"y":400,"wires":[]},{"id":"6fbd6eeaab579b1c","type":"switch","z":"e191cd24c5371b1b","name":"Check val is between 0.1 and 7","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.1","vt":"num","v2":"6.4","v2t":"num"}],"checkall":"false","repair":false,"outputs":1,"x":310,"y":440,"wires":[["9ad628adc3129bca"]]},{"id":"9ad628adc3129bca","type":"delay","z":"e191cd24c5371b1b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":500,"y":400,"wires":[["e8339696b104189a"]]},{"id":"e8339696b104189a","type":"change","z":"e191cd24c5371b1b","name":"Convert to kmh (BS)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 3.6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["dec38907a80ea483"]]},{"id":"1792b443510c99bc","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"Speed over Ground (m/s)","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.speedOverGround","source":"","period":1000,"x":210,"y":520,"wires":[["fbeb72481b284553"]]},{"id":"fbeb72481b284553","type":"switch","z":"e191cd24c5371b1b","name":"Check val is between 0.1 and 9","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.1","vt":"num","v2":"9","v2t":"num"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":560,"wires":[["c0c859f63837113c"]]},{"id":"c0c859f63837113c","type":"delay","z":"e191cd24c5371b1b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":500,"y":520,"wires":[["6de1e831e8f352ad"]]},{"id":"6de1e831e8f352ad","type":"change","z":"e191cd24c5371b1b","name":"Convert to kmh (SoG)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 3.6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["c07261896e383cd1"]]},{"id":"c07261896e383cd1","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":5,"width":0,"height":0,"name":"","label":"Speed over Ground (kmh)","format":"{{msg.payload | number:2}}","layout":"row-spread","className":"","x":810,"y":520,"wires":[]},{"id":"71e3305f802be99c","type":"signalk-subscribe","z":"e191cd24c5371b1b","name":"GPS Date / Time","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.datetime","source":"","period":1000,"x":180,"y":620,"wires":[["07700353475d3cd6"]]},{"id":"2f2346c87694a55f","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":7,"width":"0","height":"0","name":"","label":"GPS Date","format":"{{msg.payload[0]}}","layout":"row-spread","className":"","x":720,"y":680,"wires":[]},{"id":"07700353475d3cd6","type":"function","z":"e191cd24c5371b1b","name":"","func":"var a = msg.payload;\n// node.warn(a);\nvar dtg = a.split(\"T\");\n// node.warn(dtg);\n// node.warn(dtg[0]);\nvar date = dtg[0].split(\"-\");\nvar time = dtg[1].split(\":\");\nvar displaytime = time[0] + \":\" + time[1];\n// node.warn(date);\nvar displaydate = date[2] + \"/\" + date[1] + \"/\" + date[0];\nmsg.payload = [displaydate,displaytime];\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":620,"wires":[["2f2346c87694a55f","47e2807a0216052b"],["2f2346c87694a55f","47e2807a0216052b"]],"inputLabels":["GPSDateTime"],"outputLabels":["DisplayDate","DisplayTime"]},{"id":"47e2807a0216052b","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":6,"width":0,"height":0,"name":"","label":"GPS Time","format":"{{msg.payload[1]}}","layout":"row-spread","className":"","x":730,"y":720,"wires":[]},{"id":"77c31be36a052d7d","type":"ui_text","z":"e191cd24c5371b1b","group":"e2b439436288c9a3","order":8,"width":0,"height":0,"name":"","label":"GPS Time Zone","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":640,"wires":[]},{"id":"e2b439436288c9a3","type":"ui_group","name":"Col 1","tab":"18346a9d5b185a53","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"18346a9d5b185a53","type":"ui_tab","name":"Summary","icon":"dashboard","order":1,"disabled":false,"hidden":false}]